<html>

  <body>
    <form name="search" id="search">
      <input type="text" value="" placeholder="Search for a product" />
      <input type="submit" value="Search" /> 
    </form>

    <iframe src="https://www.google.com/search?output=search&tbm=shop&q=tent&oq=tent&gs_l=products-cc.3..0l10.27221.28020.0.28134.6.5.1.0.0.0.316.537.4j3-1.5.0.msedr...0...1ac.1.64.products-cc..0.6.540.d3WzbVwsYws&gws_rd=ssl#tbm=shop&q=tent" id="google-iframe" name="google-iframe"></iframe>
  </body>
</html>