<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    	<!-- <link rel='stylesheet' href='../public/css/fem.css'> -->
    	<link rel='stylesheet' href='/css/fem.css'>
		<title>Feminize It!</title>

		<% media = %{http://www.feminizeit.com/images/home-purple.jpg} %>
    <meta property="og:title" content="Feminize It"/>
    <meta property="og:description" content="We find the female versions of products so your little lady brain doesn't have to."/>
    <meta property="og:url" content="http://www.feminizeit.com/search?q=<%= params[:q] %>"/>
    <meta property="og:image" content="<%= media %>" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="929" />
	</head>
	<body>
		<div id="abouttext">
		<div id="app" class="testimonials">
			<div class="row">
				<div class="col-lg-12">
					<h1>Who's behind Feminize It?</h1>
				</div>
			</div>
			<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/kate.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p><strong>Kate Sidley</strong><br>Comedy writer and performer. Writer for the Upright Citizens Brigade Maude team Goodbye Handsome. Host of UCBTNY's monthly sketch open mic Liquid Courage. Co-founder of Sea Tea Improv.</p>
				</div>
			</div>
			<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/nicole.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p><strong>Nicole Javorsky</strong><br>Huge fan of dancing in the rain, the master at Twister aka the best game ever. Founder of Cubs for Coping. The coolest coder around.</p>
				</div>
			</div>
			<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/sriya.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p><strong>Sriya Sarkar</strong><br>A recent grad from the film program at NYU Tisch. Jill-of-all-Trades: director, writer, producer, editor, and comedian.</p>
				</div>
			</div>
			<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/casey.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p><strong>Casey Pugh</strong><br>Co-founder of VHX, a video distribution platform. Creator of Emmy-winning Star Wars Uncut. Also, meat sandwiches.</p>
				</div>
			</div>
			<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/KK.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p><strong>KK Apple</strong><br>Freelance writer and performer. Bodyroller.</p>
				</div>
			</div>
			<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/ross.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p><strong>Ross Nover</strong><br>Graphic designer, web designer, illustrator, animator, comic artist, lover, fighter.</p>
				</div>
			</div>
		</div>
		</div>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-63027172-1', 'auto');
		ga('send', 'pageview');
		</script>
	</body>
</html>