<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    	<link rel='stylesheet' href='/css/fem.css'>
		<title>Feminize It!</title>
	</head>
	<body>
		<div id="intro">
			<div id="logo1">
				<img src="/images/logos/logo-hp.png">
			</div>
			<p>We find the female versions of products so your little lady brain doesn't have to.</p>
			<form action="/search">
				<input type="text" name="q" placeholder="What product are you looking for?" autofocus />
				<input type="submit" value="GO">
			</form>
		</div>

		<div id="about">
			<h1>How Does It Work?</h1>
			<div id="infographic">
				<img src="finalinfo.png">
			</div>
		</div>

		<div id="press">
			<p>As seen in . . .</p>
			<div id="presspic">
				<img src="/images/logos/logos-grey.png">
			</div>
		</div>

		<div id="app">
			<img src="/images/testimonials.jpg">
		</div>
	</body>
</html>