<!DOCTYPE html>
<html>
	<head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    	<!-- <link rel='stylesheet' href='../public/css/fem.css'> -->
    	<link rel='stylesheet' href='/css/fem.css'>
		<title>Feminize It!</title>

		<% media = %{http://www.feminizeit.com/images/home-purple.jpg} %>
    <meta property="og:title" content="Feminize It"/>
    <meta property="og:description" content="We find the female versions of products so your little lady brain doesn't have to."/>
    <meta property="og:url" content="http://www.feminizeit.com/search?q=<%= params[:q] %>"/>
    <meta property="og:image" content="<%= media %>" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="929" />
	</head>
	<body>
		<div id="intro">
			<a href="http://bit.ly/chdRibbon" class="made_at_chd_ribbon white left" target="_blank" style="position:absolute;top:0;left:0;">
  				<img src="http://curiouspeterson.github.io/made-at-chd-ribbon/made-at-chd-white-left.svg" style="height:149px;width:149px;z-index:9999;">
			</a>
			<div id="logo1">
				<img src="/images/logos/logo-hp.png">
			</div>
			<p>We find the female versions of products so your little lady brain doesn't have to.</p>
			<form action="/search">
				<input type="text" name="q" placeholder="What product are you looking for?" autofocus />
				<input type="submit" value="GO">
			</form>
		</div>

		<div id="about">
			<h1>How Does It Work?</h1>
			<div id="infographic">
				<img src="/images/finalinfo.png">
			</div>
		</div>

		<div id="press">
			<p>As seen in . . .</p>
			<div id="presspic">
				<img src="/images/logos/logos-grey.png">
			</div>
		</div>

		<div id="app" class="testimonials">
			<div class="row">
				<div class="col-lg-12">
					<h2>Testimonials</h2>
				</div>
			</div>
			<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/test-woman1.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p>&ldquo;I was searching for the perfect tent, but like, a lady version of a tent. My "Feminize It&trade;" search results showed me all kinds of fun dresses! Thanks for reminding me that I shouldn't be out in the woods fending for myself &mdash; I should be dressing up and trying to snag a husband!&rdquo;<br>
&mdash; Amber Fessenden, Houston, TX</p>
				</div>
			</div>
						<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/test-woman2.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p>&ldquo;Please don't put me on the testimonials page.&rdquo;<br>
&mdash; Kristen Wolfe, Washington, DC</p>
				</div>
			</div>
				<div class="row test">
				<div class="col-md-2 col-md-offset-1">
					<img src="/images/test-guy.png" class="test-img">
				</div>
				<div class="col-md-8">
					<p>&ldquo;Women must love this.&rdquo;<br>
&mdash; Stephen Solomon, Canton, OH</p>
				</div>
			</div>
		</div>

		<div id="contact">
			<div class="content">
				<h2>Contact Us</h2>
				<p>We would love to hear your thoughts about Feminize It! Send an email to <a href="mailto:feminizeit@gmail.com">feminizeit@gmail.com</a>.<br>If you'd like to see our faces first, see who is behind Feminize It <a href="http://www.feminizeit.com/about">here.</a></p>
			</div>
		</div>

    	<nav id="retry" style="display:none">
			<span class="social">
		        <a href="https://twitter.com/feminizeit" target="_blank">
		        	<i class="fa fa-twitter-square">
		          		::before
		        	</i>
		        </a>

		        <a href="https://www.facebook.com/FeminizeIt" target="_blank">
		        	<i class="fa fa-facebook-square">
		          		::before
		        	</i>
		        </a>
		    </p>
	    </nav>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-63027172-1', 'auto');
		ga('send', 'pageview');
		</script>
	</body>
</html>