<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      var interval = false;
      $(function() {
        $('#feminize-btn').on('click', function() {
          $('#google-iframe').delay(300).fadeOut(500);
          $('#loading').fadeIn(300).delay(1500).fadeOut(300);
          
          $('#feminizeit-iframe, nav#retry').delay(400).fadeIn(500);
          $('nav#home').delay(400).hide();

          // var percent = 0;
          // interval = setInterval(function() {
          //   $('.percent span').html(percent)
          //   percent += 1;
          //   if (percent > 100) {
          //     clearInterval(interval);
          //   }
          // }, 15);
        });
      })
    </script>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <style>
      body { margin: 0; padding: 0; font-family: 'Josefin Sans', sans-serif; }

      nav .btn { 
        background: #fff; 
        color: #652c90; 
        padding: 20px 30px; 
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        text-decoration: none;
        margin-left: 20px;
        font-size: 40px;
        margin-right: 60px;
      }

      nav .btn:hover {
        background: #652c90; 
        color: #fff;
      }

      iframe { 
        margin-top: 28px;
        border: none;  
        height: 100%; 
        width: 100%;
      }

      nav {
        position: fixed;
        width: 100%;
        text-align: right;
        color: #fff;
        padding:60px 0;
        background: #000;
        background-size: cover;
        background-position: center center;
        font-size: 24px;
      }
      nav#retry {
        background-image: url('/images/home-purple.jpg');
      }
      nav p.logo {
        position: absolute;
        left: 0;
        top: 4px;
        margin-left: 50px;
      }
      nav p.social {
        position: absolute;
        left: 186px;
        top: 20px;
        font-size: 40px;
      }
      nav p.social a {
        color: #fff;
        text-decoration: none;
      }
      nav p.social a:hover {
        color: #652c90;
      }
      nav p img {
        width: 100px;
      }
      nav span {
        text-decoration: underline;
      }

      #loading {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: #000;
        background: url('/images/home-purple.jpg');
        background-size: cover;
        background-position: center center;
        text-align: center;
        padding-top: 200px; 
        color: #fff;
        font-size: 60px;
      }

      @-webkit-keyframes rotate {
        from {
          -webkit-transform: rotate(0deg);
        }
        to { 
          -webkit-transform: rotate(360deg);
        }
      }

      #loading img {
        -webkit-animation-name:             rotate; 
        -webkit-animation-duration:         2s; 
        -webkit-animation-iteration-count:  infinite;
        -webkit-animation-timing-function:  linear;
      }

      #loading .percent {
        font-size: 30px;
      }
    </style>

  </head>
  <body>
    <div id="loading" style="display:none">
      <div class="text">
        <img src="/images/logo.png" />
        <p>Feminizing...</p>
        <!-- <p class="percent">Loading <span></span>%</p> -->
      </div>
    </div>

    <nav id="home">
      Here are your <span>normal</span> results. How about we
      <a id="feminize-btn" class="btn" href="#">Feminize it!</a>
    </nav>

    <nav id="retry" style="display:none">
      <p class="logo">
        <a href="/"><img src="/images/logo.png" /></a>
      </p>
      <p class="social">
        <% 
          tweet = %{Bless my boobs! Check out the lady version of "#{params[:q]}" from #FeminizeIt}
          share_url = "http://www.feminizeit.com/search?q=#{params[:q]}"
          url = %{https://twitter.com/intent/tweet?text=#{CGI.escape tweet}&url=#{CGI.escape share_url}&related=sidleykate}
        %>
        <a href="" target="_blank">
          <i class="fa fa-pinterest-square"></i>
        </a>
        <a href="<%= url %>" target="_blank">
          <i class="fa fa-twitter-square"></i>
        </a>
        <% 
          # url = %{https://www.facebook.com/sharer/sharer.php?&u=#{CGI.escape share_url}}
        %>
        <a href="<%= url %>" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
      </p>
      Feminized!
      <a class="btn" href="/">Search again?</a>
    </nav>

    <iframe src="/google/normal?q=<%= params[:q] %>" id="google-iframe" name="google-iframe"></iframe>
    <iframe src="/google/feminizeit?q=<%= params[:q] %>" style="display:none" id="feminizeit-iframe" name="google-iframe"></iframe>
  </body>
</html>