html, body {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	width: 100%;
	margin: 0;
}

#intro {
	background: url('/images/home-purple.jpg') no-repeat center center fixed;
	width: 100%;
	height: 800px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#topbar {
	background: url('/images/home-purple.jpg') no-repeat center center fixed;
	width: 100%;
	height: 400px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

form {
	position: relative;
	bottom: 100px;
	text-align: center;
	border: 0;
	padding: 50px;
}

input[type="text"] {
	color: #fff;
	border: 1px solid #fff;
	font-size: 30px;
	width: 60%;
	text-align: center;
	background: transparent;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
input[type="submit"] {
	background: #fff;
	font-size: 30px;
	border: 0;
	height: 65px;
	padding: 0 20px;
}

h1 {
	color: #652c90;
	font-size: 120px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}
h2{
	color: #652c90;
	text-align: center;
	font-size: 80px;
}

p {
	font-size: 40px;
}

#intro p {
	margin: 1%;
	position: relative;
	bottom: 80px;
}

#about p {
	text-align: center;
}

#topbar p {
	text-align: right;
	color: white;
}

#intro p {
	text-align: center;
	color: white;
}

#about {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 50px;
}

#press {
	padding-top: 100px;
	text-align: center;
	background-color: #efefef;
}

#contact {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #efefef;
}

#logo1 img {
	/*height: 40%;*/
}

#logo2 img {
	height: 200px;
	width: auto;
}

#logo1 {
	text-align: center;
	padding: 5%;
}

#logo2 {
	text-align: left;
	padding: 5%;
	display: inline-block;
}

#presspic img {
	display: inline-block;
	padding-top: 5%;
	width: 100%;
}

#presspic {
	padding-bottom: 60px;
	position: relative;
	bottom: 50px;
}

#app p {
	font-size: 30px;
}

#app {
	padding-top: 50px;
	text-align: left;
}
#app.testimonials h2 {
	text-align: center;
}
#app .test-img {
	width: 100%;
	height: auto;
}

#app .test {
	margin-bottom:40px;
}

#infographic {
	text-align: center;
}
#infographic img {
	height: 500px;
}